[Unit]
Description=Сервис приложения cex-copytrader-client
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/root/cex-copytrader-client
ExecStartPre=/bin/bash -c 'git pull && poetry install'
ExecStart=/bin/bash -c 'poetry run python3 -m app'
Restart=always

[Install]
WantedBy=multi-user.target
