[Unit]
Description=Сервис клиентского приложения AbTradebot
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/root/AbTradebotSlaveV2
ExecStartPre=/bin/bash -c 'git pull && poetry install'
ExecStart=/bin/bash -c 'poetry run python3 -m app'
Restart=always

[Install]
WantedBy=multi-user.target
